Binaries
DerivedDataCache
Intermediate
Saved
Bundling
.idea
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
**/*.code-workspace
Plugins/TEST_tropical/TEST_tropical.code-workspace
.urc/